{% extends 'admin/base.html' %} {% block admin %}
<div class="container">
    <h3>Synchronizations to UNDL</h3>
    <table class="table sortable">
        <thead>
            <th>Time</th>
            <th>Record Type</th>
            <th>Record ID</th>
            <th>Response Text</th>
            <th>Response Code</th>
            <th>XML</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.time}}</td>
                <td>{{item.record_type}}</td>
                <td><a href="{{url_for('get_record_by_id', coll=item.record_type + 's', id=item.record_id)}}">{{item.record_id}}</a></td>
                <td>{{item.response_text}}</td>
                <td>{{item.response_code}}</td>
                <td>Show</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}